
# Top-most EditorConfig file
root = true

# Editor default newlines with a newline ending every file
[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 86

[*.{css,scss,sass}]
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.gql]
indent_size = 4

[*.graphql]
indent_size = 4
